[user]
  name = Tu Bui
  email = buicaotu@gmail.com
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[protocol]
	version = 2
[core]
  editor = nvim
	excludesFile = ~/.gitignore_global
[alias]
  aa = add --all
  au = add --update
  f  = fetch
  c  = checkout
  s  = status
  p  = push
  m  = merge
  cp = cherry-pick
  cm = commit
  co = "! git fetch origin refs/heads/$1 && git checkout -q FETCH_HEAD && git switch --force-create $1 #" # checkout the latest and match local branch to it
  cg = "! git fetch origin refs/heads/green && git checkout -q FETCH_HEAD && git checkout -b $1 #" # create a new branch off green
  pf = "! git push --force-with-lease #" # push force
  pu = "! git push -u #" # push upstream with default (default is current see push config below)
  l  = "! git log --pretty=format:'%C(Yellow)%h %C(cyan)%cs %Cgreen%<(10,trunc)%al%x09%Creset%s %Cred%D' $@ #" # log <commit> <date> <name> <comment>
  ln  = "! git log -n 10 --first-parent --pretty=format:'%C(Yellow)%h %C(cyan)%cs %Cgreen%<(10,trunc)%al%x09%Creset%s %Cred%D' $@ #" # log <commit> <date> <name> <comment>
  fl  = "! git fetch origin refs/heads/$1 && git log --pretty=format:'%C(Yellow)%h %C(cyan)%cs %Cgreen%<(10,trunc)%al%x09%Creset%s %Cred%D' FETCH_HEAD #" # log <commit> <date> <name> <comment>
  fco = "! git fetch origin refs/heads/$1 && git checkout FETCH_HEAD #" # fetch remote and checkout
  fm = "! git fetch origin refs/heads/$1 && git merge FETCH_HEAD #" # fetch and merge
  fr = "! git fetch origin refs/heads/$1 && git rebase FETCH_HEAD #" # fetch and rebase
  rsb = "! git checkout h && git fetch origin refs/heads/$1 && git reset $(git merge-base FETCH_HEAD h) #" # fetch remote and reset
  mg = "! echo 'merge latest green' && git fetch origin refs/heads/green && git merge FETCH_HEAD --no-edit #" # fetch and merge green
  mm = "! echo 'merge latest master' && git fetch origin refs/heads/master && git merge FETCH_HEAD --no-edit #" # fetch and merge master
  cdiff = "! git diff --diff-filter=U --name-only"
  clean-all = "! git reset --hard && git clean -df"
  recent = "!git for-each-ref --sort=committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'"
[pull]
  ff = only
[push]
  default = current
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE
[mergetool "vscode"]
  cmd = code --wait $MERGED
[diff]
  algorithm = histogram
[url "git@github.com:"]
	insteadOf = https://github.com/
[advice]
  detachedHead = false
[trace2]
	eventTarget = af_unix:dgram:/tmp/olly-git-trace2.sock
[rerere]
	enabled = true
; [column]
; 	ui = auto
[branch]
	sort = -committerdate
[pager]
# insanely beautiful diffs
diff = diff-so-fancy | less --tabs=4 -RFX
show = diff-so-fancy | less --tabs=4 -RFX
[interactive]
  diffFilter = "diff-so-fancy"
[color]
  ui = auto

